// Responsive
@import '_style';

$main-color: #9771b0;

* {
    outline: none;
}

a {
    &:hover {
        color: #fff;
    }
}

.site {
    &-header {
        height: 120px;
        background-color: transparent;
        .container {
            max-width: 96%;
            width: 100%;
        }
        #myNav {
            width: 100%;
            display: none;
        }
        .myNavOn {
            display: block !important;
            @extend %showAmt;
        }
        .overlay {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.9);
            overflow-x: hidden;
            transition: 0.5s;
            &-content {
                //position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding-top: 34px;
                div {
                    display: flex;
                }
            }
            a {
                padding: 8px;
                text-decoration: none;
                font-size: 30px;
                color: #fff;
                display: block;
                transition: 0.3s;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:hover,
                &:focus {
                    color: $main-color;
                    // path {
                    //     fill: $main-color;
                    // }
                }
            }
            .closebtn {
                position: absolute;
                top: 13%;
                right: 9%;
                font-size: 70px;
                font-weight: 300;
                &:hover {
                    transform: rotate(90deg);
                    color: $main-color;
                }
            }
        }
        .sh {
            &-content {
                &-wrap {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .openbtn {
                        font-size: 30px;
                        cursor: pointer;
                        margin-left: -18px;
                        margin-right: 22px;
                    }
                }
                &-logo {
                    a {
                        img {
                            width: 160px;
                        }
                    }
                }
            }
            &-col {
                display: flex;
                flex: 1 0 auto;
                &__left {
                    justify-content: flex-start;
                    align-items: center;
                }
                &__right {
                    justify-content: flex-end;
                    margin-right: -34px;
                    div {
                        margin-right: 30px;
                        &:last-child {
                            margin-right: 24px;
                        }
                        a {
                            img {
                                width: 20px;
                                height: 20px;
                            }
                            &:hover {
                                filter: invert(51%) sepia(20%) saturate(835%) hue-rotate(233deg) brightness(92%) contrast(90%);
                            }
                        }
                        &:last-child {
                            position: relative;
                            &::after {
                                content: "0";
                                position: absolute;
                                background-color: #9771b0;
                                top: -7px;
                                right: -7px;
                                color: #fff;
                                border-radius: 50%;
                                width: 80%;
                                height: 65%;
                                font-size: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
    &-hd__on {
        //background-color: #fff !important;
        background-color: #fff;
        animation: navBar .5s linear;
    }
    &-main {
        .section {
            &-one {
                .slick {
                    &-initialized,
                    &-slide {
                        display: block;
                        display: flex;
                        transform: translateX(-10px);
                    }
                    &-dots {
                        display: flex;
                        position: absolute;
                        bottom: 3%;
                        left: 11%;
                        li {
                            display: flex;
                            align-items: center;
                            margin-right: 22px;
                            button {
                                border: none;
                                border-radius: 50%;
                                background-color: #99999973;
                                color: transparent;
                                width: 10px;
                                height: 10px;
                                cursor: pointer;
                            }
                        }
                        .slick-active {
                            button {
                                border: none;
                                border-radius: 50%;
                                background-color: #BFABCD;
                                color: #BFABCD;
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }
                    &-slide {
                        .grid__column {
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                .grid {
                    &__column {
                        &:first-child {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            width: 37.2%;
                            padding-left: 76px;
                            padding-right: 62px;
                            font-size: 20px;
                            letter-spacing: -1px;
                            .h1morem {
                                font-weight: 600;
                                text-transform: uppercase;
                                transform: translateY(22px);
                            }
                            p {
                                text-transform: uppercase;
                                font-size: 18px;
                                transform: translateY(14px);
                            }
                            strong {
                                font-size: 40px;
                                transform: translateY(5px);
                                font-weight: 500;
                                color: $main-color;
                            }
                            a {
                                transform: translateY(20px);
                            }
                            button {
                                padding: 15px 30px;
                                border: 1px solid;
                                font-weight: 400;
                                background-color: #fff;
                                letter-spacing: -1px;
                                font-size: 16px;
                                cursor: pointer;
                                &:hover {
                                    @extend %hover;
                                }
                            }
                        }
                        &:last-child {
                            padding: 0;
                            width: 62.8%;
                        }
                    }
                }
            }
            &-two {
                position: relative;
                margin: 70px 0;
                .sec-2__title {
                    left: 65px;
                    transform: translate(-100%, 50%) rotate(-90deg);
                    transform-origin: right;
                    font-weight: 700;
                    text-transform: uppercase;
                    line-height: 1em;
                    letter-spacing: 4px;
                    color: #C3C3C3;
                    font-size: 42px;
                    position: absolute;
                }
                .grid {
                    padding-left: 120px;
                    &__column {
                        width: 30.4%;
                    }
                }
            }
            &-three {
                background-image: url(https://morencdn.b-cdn.net/wp-content/uploads/2020/12/m2-bg-2.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                position: relative;
                text-align: center;
                padding: 120px 0 120px 0;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    padding: 270px 0;
                    background-color: #1C152F;
                    opacity: .7;
                }
                .h2morem {
                    font-weight: 600;
                    font-size: 50px;
                }
                .h2morem,
                p {
                    color: #fff;
                    position: relative;
                }
                button {
                    margin-top: 40px;
                    cursor: pointer;
                    border: none;
                    font-size: 22px;
                    letter-spacing: -1px;
                    text-transform: uppercase;
                    padding: 15px 25px 15px 25px;
                    position: relative;
                    &:hover {
                        @extend %hover;
                    }
                }
            }
            &-four {
                text-align: center;
                .h3morem {
                    font-size: 38px;
                    font-weight: 600;
                    margin-top: 60px;
                    letter-spacing: -2px;
                }
                .sec-4 {
                    &__1,
                    &__2,
                    &__3 {
                        .grid {
                            display: flex;
                            justify-content: center;
                        }
                    }
                    &__1,
                    &__2,
                    &__3 {
                        .grid {
                            &__column {
                                margin-right: 40px !important;
                                width: 27.1%;
                                &:nth-child(3) {
                                    margin-right: 0 !important;
                                }
                            }
                        }
                    }
                    &__4 {
                        border: 1px solid;
                        padding: 10px 25px 10px 25px;
                        background-color: #FFF;
                        cursor: pointer;
                        font-size: 21px;
                        display: block;
                        width: 12%;
                        margin: 25px auto 80px;
                        &:hover {
                            @extend %hover;
                        }
                    }
                }
            }
            &-five {
                .sec-5 {
                    &__1 {
                        margin-bottom: 6px;
                    }
                    &__1,
                    &__2 {
                        .grid {
                            margin-left: -4px;
                            margin-right: -4px;
                            &__column {
                                //padding: 4px;
                                padding: 0;
                                width: 24.6%;
                                margin-right: 6px !important;
                                &:nth-child(4) {
                                    margin-right: 0 !important;
                                }
                                a {
                                    &:hover {
                                        .sec-5__img {
                                            img {
                                                transform: scale(1.1);
                                                transition: transform .18s linear;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &__content {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 1;
                        opacity: 0;
                        background-color: $main-color;
                        &:hover {
                            background-color: transparent;
                            opacity: 1 !important;
                        }
                        .h5morem {
                            color: #fff;
                            font-size: 30px;
                            font-weight: 700;
                            letter-spacing: -1px;
                        }
                    }
                    &__img {
                        overflow: hidden;
                        img {
                            transform: scale(1);
                            transition: transform .18s linear;
                            width: 100%;
                        }
                        .lazyloaded {
                            opacity: 0;
                        }
                    }
                    &__img-check {
                        animation: showAmt 1.8s linear;
                    }
                }
            }
            &-six {
                .h2morem {
                    text-align: center;
                    font-size: 38px;
                    font-weight: 600;
                    letter-spacing: -3px;
                    margin: 75px 0 40px;
                }
                .sec-6 {
                    margin-bottom: 150px;
                    &__1,
                    &__2 {
                        .grid__column {
                            &:nth-child(2),
                            &:nth-child(4),
                            &:nth-child(6),
                            &:nth-child(8) {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                            }
                        }
                    }
                    &__1,
                    &__2 {
                        display: flex;
                    }
                    &__img {
                        overflow: hidden;
                        img {
                            height: 265px;
                            object-fit: cover;
                            transform: scale(1);
                            transition: transform 1.2s linear;
                            &:hover {
                                transform: scale(1.2);
                                transition: transform 1.2s linear;
                            }
                        }
                    }
                    &__main {
                        &-logo {
                            display: flex;
                            align-items: center;
                            img {
                                border-radius: 50%;
                                width: 14%;
                                margin-right: 14px;
                            }
                            a {
                                font-size: 14px;
                                &:hover {
                                    color: $main-color;
                                }
                            }
                        }
                        &-title {
                            a {
                                font-weight: 600;
                                font-size: 20px;
                                margin: 12px 0;
                                display: block;
                                text-transform: uppercase;
                                &:hover {
                                    color: $main-color;
                                }
                            }
                        }
                        &-content {
                            p {
                                color: #666;
                                letter-spacing: -0.4px;
                            }
                        }
                        &-more {
                            border: 1px solid;
                            padding: 9px 14px;
                            display: block;
                            width: 60%;
                            text-transform: uppercase;
                            font-size: 14px;
                            margin-top: 20px;
                            letter-spacing: -0.4px;
                            text-align: center;
                            &:hover {
                                color: #fff;
                                transition: 0.4s;
                                background-color: #BFABCD;
                            }
                        }
                    }
                    &__content {
                        padding-left: 14px;
                    }
                }
                .slick {
                    &-dots {
                        display: flex;
                        position: absolute;
                        bottom: -26%;
                        left: 48%;
                        li {
                            display: flex;
                            align-items: center;
                            margin-right: 22px;
                            button {
                                border: none;
                                border-radius: 50%;
                                background-color: #99999973;
                                color: transparent;
                                width: 14px;
                                height: 14px;
                                cursor: pointer;
                            }
                        }
                        .slick-active {
                            button {
                                border: none;
                                border-radius: 50%;
                                background-color: #BFABCD;
                                color: #BFABCD;
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }
                }
            }
            &-seven {
                box-shadow: 0 0 30px 0 rgb(0, 0, 0, 0.15);
                transition: box-shadow 0.3s;
                margin: 0 30px;
                overflow: hidden;
                position: relative;
                background-color: #fff;
                z-index: 1;
                .sec-7 {
                    display: flex;
                    padding: 60px 45px;
                    &__img {
                        margin: 0 25px;
                        display: flex;
                        align-items: center;
                        img {
                            width: 115px;
                        }
                    }
                    &__main {
                        width: 86%;
                        height: 10rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        strong,
                        p {
                            font-size: 20px;
                            letter-spacing: -0.4px;
                        }
                    }
                    &__main-star {
                        display: flex;
                        img {
                            width: 25px;
                            margin-right: 5px;
                            filter: invert(86%) sepia(30%) saturate(845%) hue-rotate(349deg) brightness(98%) contrast(93%);
                        }
                    }
                }
                .slick {
                    &-prev,
                    &-next {
                        position: absolute;
                        width: 40px;
                        font-size: 26px;
                        top: 45%;
                        border: none;
                        color: transparent;
                        cursor: pointer;
                        z-index: 1;
                        filter: invert(99%) sepia(32%) saturate(5414%) hue-rotate(183deg) brightness(125%) contrast(73%);
                        &:hover {
                            filter: invert(0%) sepia(13%) saturate(1831%) hue-rotate(84deg) brightness(99%) contrast(101%);
                        }
                    }
                    &-prev {
                        background: url("../icon/long-arrow-left.svg") no-repeat 1px -8px;
                        left: 0px;
                        background-size: 38px;
                    }
                    &-next {
                        background: url("../icon/long-arrow-right.svg") no-repeat 1px -8px;
                        right: 0px;
                        background-size: 38px;
                    }
                }
            }
            &-eight {
                background-image: url(https://morencdn.b-cdn.net/wp-content/uploads/2020/12/m2-bg-3.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                padding-top: 270px;
                padding-bottom: 100px;
                text-align: center;
                background-attachment: fixed;
                position: relative;
                top: -200px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    padding: 275px 0;
                    background-color: #1C152F;
                    opacity: 0.7;
                }
                .h3morem {
                    font-weight: 600;
                    font-size: 40px;
                    letter-spacing: -1px;
                }
                p {
                    font-size: 18px;
                }
                h3,
                p,
                input,
                a {
                    color: #fff;
                    position: relative;
                }
                .sec-8 {
                    &__form {
                        border-bottom: 1px solid #fff;
                        width: fit-content;
                        margin: 0 auto;
                        position: relative;
                        input {
                            background-color: transparent;
                            border: none;
                            width: 570px;
                            font-size: 20px;
                            margin-top: 50px;
                            padding-bottom: 10px;
                            &::placeholder {
                                color: #fff;
                            }
                        }
                        a {
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 24px;
                            letter-spacing: -1px;
                        }
                    }
                }
            }
            &-nine {
                display: flex;
                justify-content: space-around;
                margin-top: -110px;
                margin-bottom: 85px;
                padding-left: 10px;
                padding-right: 10px;
                .sec-7 {
                    &__1,
                    &__2,
                    &__3,
                    &__4 {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    &-footer {
        background-color: #333;
        color: #999;
        padding: 31px 0;
        line-height: 25px;
        .grid__column {
            &:nth-child(1) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 31%;
                p {
                    color: #fff;
                    font-size: 15px;
                    margin-top: 30px;
                }
            }
            &:nth-child(2) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 44%;
                .site-ft__sec {
                    &-1,
                    &-2 {
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                    &-1 {
                        .site-ft {
                            &__company,
                            &__useful {
                                strong {
                                    color: #fff;
                                    font-size: 16px;
                                }
                                div {
                                    display: flex;
                                    flex-direction: column;
                                }
                                .grid__column {
                                    width: fit-content;
                                }
                                a {
                                    margin-bottom: 10px;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                    &-2 {
                        .site-ft {
                            &__categories,
                            &__tags {
                                strong {
                                    color: #fff;
                                    font-size: 16px;
                                }
                                .grid__column {
                                    display: flex;
                                    flex-direction: column;
                                    width: 50%;
                                }
                                a {
                                    margin-bottom: 10px;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
            &:nth-child(3) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: -70px !important;
                .site-ft {
                    &__network,
                    &__contact {
                        strong {
                            color: #fff;
                            font-size: 16px;
                        }
                    }
                    &__network {
                        padding: 0 10px 10px 10px;
                    }
                    &__contact {
                        padding: 10px 0 10px 10px;
                    }
                    &__ct-content {
                        display: flex;
                        flex-direction: column;
                        margin-top: 15px;
                        a {
                            margin-bottom: 5px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .site-ft {
            &__nw-content {
                display: flex;
                margin-top: 20px;
                a {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    align-items: center;
                    margin-right: 15px;
                    background-color: #444;
                    &:hover {
                        background-color: #000;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        filter: invert(69%) sepia(0%) saturate(0%) hue-rotate(279deg) brightness(89%) contrast(91%);
                    }
                }
            }
        }
    }
}

.product {
    &_item {
        &:nth-child(1),
        &:nth-child(2) {
            margin-right: 30px !important;
        }
        .product_item {
            &__inner {
                &:hover {
                    .item__overlay {
                        opacity: .2;
                    }
                    .button {
                        opacity: 1;
                        transform: translate(0,10px);
                    }
                    
                }
            }
            &__thumbnail {
                position: relative;
                z-index: 2;
                overflow: hidden;
                &:hover {
                    .item__overlay {
                        opacity: .2;
                    }
                    .button {
                        opacity: 1;
                        transform: translate(0,10px);
                    }
                    
                }
                &-holder {
                    a {
                        display: block;
                        &:hover {
                            .item__overlay {
                                opacity: .2;
                            }
                        }
                        img {
                            width: 100%;
                            display: block;
                        }
                    }
                }
            }
            &__info {
                padding-left: 1em;
                padding-right: 1em;
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;
                background-color: #fff;
                transition: all 0.3s;
                opacity: 0;
                visibility: hidden;
                transform: translateY(100%);
                z-index: 2;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                .price {
                    font-size: 18px;
                    color: $main-color;
                }
                &-sec-4--show {
                    text-align: left;
                    font-size: 18px;
                    font-weight: 700;
                    color: $main-color;
                    line-height: 14px;
                    margin-bottom: 25px;
                    .price {
                        font-weight: 400;
                    }
                }
            }
            &__title {
                font-size: 18px;
                font-weight: 700;
                line-height: 28px;
                margin: 10px 0;
                letter-spacing: -0.8px;
                text-transform: uppercase;
                width: fit-content;
                &:hover {
                    a {
                        color: $main-color;
                    }
                }
            }
        }
        &__inner {
            position: relative;
            overflow: hidden;
            &:hover {
                .product_item__info {
                    opacity: 1;
                    visibility: unset;
                    transform: translateY(0);
                }
            }
        }
    }
}

//Overlay
.item__overlay {
    background-color: #333;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 250ms ease-out;
}

//Button
.wrap-addto {
    position: absolute;
    bottom: 50%;
    z-index: 2;
    width: 100%;
    text-align: center;
    .button {
        display: inline-block;
        vertical-align: middle;
        width: 44px;
        height: 44px;
        padding: 0;
        line-height: 44px;
        font-size: 16px;
        position: relative;
        opacity: 0;
        background-color: #fff;
        color: #333;
        margin: 5px;
        transform: translate(0,40px);
        transition-delay: 100ms;
        &:hover {
            background-color: $main-color;
            img {
                filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(116deg) brightness(98%) contrast(106%);
            }
            .labtn-text {
                opacity: 1;
                transform: translate3d(-50%, -50%, 0);
                transition: opacity .3s,transform .3s;
            }
        }
        &:nth-child(2) {
            transition-delay: 150ms;
        }
        &:nth-child(3),
        &:nth-child(4) {
            transition-delay: 200ms;
        }
        .labtn-text {
            font-weight: 400;
            position: absolute;
            padding: 5px 12px;
            z-index: 3;
            opacity: 0;
            white-space: pre;
            font-size: 12px;
            bottom: 100%;
            line-height: 14px;
            left: 50%;
            background-color: #333;
            color: #fff;
            text-transform: none;
            border-radius: 2px;
            transform: translate3d(-50%, 0, 0);
            transition: opacity .2s, margin .3s, transform .3s;
            pointer-events: none;
            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 50%;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #333;
                opacity: .9;
                transform: translateX(-50%);
            }
        }
    }
}


//Notification
.bottom-notification {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1em 1.41575em;
    background-color: #3d9cd2;
    color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    .btn {
        &-icon {
            img {
                filter: invert(98%) sepia(15%) saturate(239%) hue-rotate(22deg) brightness(113%) contrast(100%);
                margin-right: 10px;
            }
            span {
                font-size: 15px;
            }
        }
        &-off {
            border: none;
            background: rgba(0,0,0,.1);
            cursor: pointer;
            margin: -1em -1.41575em -1em 0;
            padding: 1em 1.41575em;
            color: #fff;
            &:hover {
                color: #9771b0;
            }
        }
    }
}

// Keyframe
@keyframes showAmt {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes navBar {
    from {
        transform: translateY(-120px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes mcActionOn {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes mcActionOff {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50px);
    }
}

//Responsive
@import '_respon';

//Extend
%hover {
    color: #fff;
    background-color: $main-color;
    transition: .4s;
}

//Animation
%showAmt {
    animation: showAmt .3s linear;
}

